<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>1 - Autorizar transação</string>
		<key>menuIndex</key>
		<integer>1</integer>
		<key>operationCode</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>2 - Capturar transação</string>
		<key>menuIndex</key>
		<integer>2</integer>
		<key>operationCode</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>3 - Autorizar e capturar transação</string>
		<key>menuIndex</key>
		<integer>3</integer>
		<key>operationCode</key>
		<integer>4</integer>
	</dict>
</array>
</plist>
