<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PagarMachine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>811A63F21E2F090800EF9AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811A640B1E2F091200EF9AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811A64161E2F091200EF9AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
